<div class="crumbs">
 <a href="/">API</a>
  &gt; <a href="../schemas">Schemas</a>
  &gt; <a href="<%= schemaName %>"><%= schemaName %> Schema</a>
</div>
<h2><%= schemaName %> Schema</h2>
<p>JSON-schema: <a href="/api/schema/<%= schemaName %>">/api/schema/<%= schemaName %></a></p>
<pre class="mdl-color--white mdl-color-text--grey-500 mdl-shadow--4dp"><%- schema %></pre>