<div class="crumbs">
 <a href="/">API</a>
  &gt; <a href="/docs">Documentation</a>
  &gt; <a href="/docs/<%= schemaName %>/schema"><%= schemaName %> Schema</a>
</div>
<h2><%= schemaName %> Schema</h2>
<p>
  <a href="/docs/<%= schemaName %>">API Documentation</a> | 
  <a href="/docs/<%= schemaName %>/schema"><strong>Schema</strong></a>
</p>
<p>
  JSON-schema: <a href="<%= baseUri %>/<%= schemaName %>"><%= baseUri %>/<%= schemaName %></a>
</p>
<pre class="mdl-color--white mdl-color-text--grey-500 mdl-shadow--4dp"><%- schema %></pre>